.about-cards{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1250px;
    padding:  15px;
    border-bottom: 1px solid #AFAFAF;
}
.about-wrapper{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.about-title{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px 0 ;
    display: flex;
  }
  .about-text{
    font-size: 18px;
    line-height: 20px;
    color: #AFAFAF;
    display: flex;
    padding:  2px 0 ;
  }
.about-img{
  width: 350px;
  height:250px;
  border-radius: 30px;
}
.about-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}
.about-texts{
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: start;
}
.about-subtitle{
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px 0;  
}
.about-paragraph , .about-caption{
  font-size: 18px;
  line-height: 22px;
  color: #AFAFAF;
  display: flex;
}
.about-caption{
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
  padding: 0 10px;
}