.offers {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .offers-title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .offers-text {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
  }
  
  .slick-slider {
    margin: 0 auto;
    width: 80%;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 10px;
    margin: 10px;
  }
  
  .slick-dots li button:before {
    color: #007bff;
  }
  
  .slick-prev, .slick-next {
    color: #007bff;
    z-index: 1;
  }
  
  .slick-prev:hover, .slick-next:hover {
    color: #0056b3;
  }
  
  .offer-slide h3 {
    font-size: 2em;
    color: #333;
  }
  /* card css */
  .slider-card{
    display: flex;
    align-items: center;

  }
  .slider-card .slider-img{
    position: relative;
    width: 200px;
    height: 300px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .slider-info{
    position: absolute;
    background-color: #fff;
    z-index: 2;
    margin-left: 50px;
    margin-top: 120px;
    border-radius: 23px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 30px;
  }
  .slider-text{
    color: #AFAFAF;
    padding: 10px 0;
    display: flex ;
    gap: 10px;
  }
  .slider-border{
    width: 100%;
    height: 2px;
    background-color: #AFAFAF;
    margin: 10px 0;
  }