.border-bottom{
  width: 100%;
  height: 1px;
  background-color:  #AFAFAF;
}
.container {
  text-align: center;
  /* margin-bottom: 20px; */
}
.slider-border {
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.fa-solid,
.fa-regular {
  margin-right: 5px;
}
.offers-title{
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px 0 ;
}
.offers-text{
  font-size: 18px;
  width: 500px;
  margin: 0 auto;
  line-height: 20px;
  color: #AFAFAF;
}

  /* card css */
  .slider-card{
    display: flex;
    align-items: center;
 height: 500px;
  }
  .slider-card .slider-img{
    position: relative;
    width: 200px;
    height: 300px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .slider-info{
    position: absolute;
    background-color: #fff;
    z-index: 2;
    margin-left: 50px;
    margin-top: 120px;
    border-radius: 23px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 30px;
  }
  .slider-text{
    color: #AFAFAF;
    padding: 10px 0;
    display: flex ;
    gap: 10px;
  }
  .slider-border{
    width: 100%;
    height: 2px;
    background-color: #AFAFAF;
    /* margin: 10px 0; */
  }